<section class="mx-12">
  <h2 class="mx-6 pt-12 text-4xl">2021 Collection</h2>
  <div class="grid grid-flow-row grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 grid-rows-3 gap-0">
    <%= render partial: "products/product", collection: @products %>
  </div>
</section>